# workspace
.vscode/

# dev files
node_modules/
examples/
scripts/
test/

# code files
src/*.js
src/data/

# pack
*.tgz

# github
.github/
.gitignore
.gitattributes

# format
.prettierignore
.eslintignore
.eslintrc.js

# misc
.editorconfig
.escheckrc
.travis.yml
jsconfig.json
gulpfile.js

# md
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md